USE [inovate]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 12/06/2026 00:16:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ValorOriginal] [decimal](10, 2) NOT NULL,
	[Desconto] [decimal](10, 2) NOT NULL,
	[ValorFinal] [decimal](10, 2) NOT NULL,
	[DataCompra] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItensCompra]    Script Date: 12/06/2026 00:16:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItensCompra](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompraId] [int] NULL,
	[ProdutoId] [int] NULL,
	[Quantidade] [int] NOT NULL,
	[PrecoUnitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produtos]    Script Date: 12/06/2026 00:16:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produtos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](150) NOT NULL,
	[PrecoUnitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Compras] ON 

INSERT [dbo].[Compras] ([Id], [ValorOriginal], [Desconto], [ValorFinal], [DataCompra]) VALUES (5, CAST(53.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(53.00 AS Decimal(10, 2)), CAST(N'2026-06-11T22:52:38.647' AS DateTime))
INSERT [dbo].[Compras] ([Id], [ValorOriginal], [Desconto], [ValorFinal], [DataCompra]) VALUES (6, CAST(100.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(100.00 AS Decimal(10, 2)), CAST(N'2026-06-12T00:07:04.697' AS DateTime))
SET IDENTITY_INSERT [dbo].[Compras] OFF
GO
SET IDENTITY_INSERT [dbo].[ItensCompra] ON 

INSERT [dbo].[ItensCompra] ([Id], [CompraId], [ProdutoId], [Quantidade], [PrecoUnitario]) VALUES (7, 5, 6, 2, CAST(15.00 AS Decimal(10, 2)))
INSERT [dbo].[ItensCompra] ([Id], [CompraId], [ProdutoId], [Quantidade], [PrecoUnitario]) VALUES (8, 5, 7, 1, CAST(8.00 AS Decimal(10, 2)))
INSERT [dbo].[ItensCompra] ([Id], [CompraId], [ProdutoId], [Quantidade], [PrecoUnitario]) VALUES (9, 5, 8, 3, CAST(5.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[ItensCompra] OFF
GO
SET IDENTITY_INSERT [dbo].[Produtos] ON 

INSERT [dbo].[Produtos] ([Id], [Nome], [PrecoUnitario]) VALUES (6, N'Arroz', CAST(15.00 AS Decimal(10, 2)))
INSERT [dbo].[Produtos] ([Id], [Nome], [PrecoUnitario]) VALUES (7, N'Feijão', CAST(8.00 AS Decimal(10, 2)))
INSERT [dbo].[Produtos] ([Id], [Nome], [PrecoUnitario]) VALUES (8, N'Óleo', CAST(5.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Produtos] OFF
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT (getdate()) FOR [DataCompra]
GO
ALTER TABLE [dbo].[ItensCompra]  WITH CHECK ADD FOREIGN KEY([CompraId])
REFERENCES [dbo].[Compras] ([Id])
GO
ALTER TABLE [dbo].[ItensCompra]  WITH CHECK ADD FOREIGN KEY([ProdutoId])
REFERENCES [dbo].[Produtos] ([Id])
GO
